@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-work:before {
    content: "\eac9";
}

.icon-project:before {
    content: "\eaf4";
}

.icon-phone:before {
    content: "\ec7a";
}

.icon-stars:before {
    content: "\ed32";
}

.icon-star:before {
    content: "\ed1d";
}

.icon-person:before {
    content: "\ec88";
}

.icon-librarybooks:before {
    content: "\ebf9";
}

.icon-education:before {
    content: "\ebca";
}

.icon-create:before {
    content: "\eaf8";
}

.icon-call:before {
    content: "\eab6";
}

.icon-weixin:before {
    content: "\3488";
}

.icon-build:before {
    content: "\eaa2";
}

.icon-edit:before {
    content: "\eb31";
}

.icon-flower:before {
    content: "\ec0a";
}

.icon-playlistadd:before {
    content: "\ecae";
}

.icon-delete:before {
    content: "\e61b";
}

.icon-trophy:before {
    content: "\e80b";
}

span {
    display: inline-block;
}

.label-value {
    width: 200px;
    vertical-align: top;
}

.iconfont {
    font-family: "iconfont", serif !important;
    font-size: 1.1em;
    font-style: normal;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 1px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #607d8b;
    line-height: 1.5;
}

.progress-list div {
    width: 100%;
    margin-left: 200px;
}

.info-list, .progress-list {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 2;
}

.stack-list {
    list-style: none;
    padding-left: 0;
    line-height: 1.5;
    li{
        margin-bottom: 12px;
    }
}

.right-list li {
    margin-bottom: 12px;
}

hr {
    margin-bottom: 8px;
}

.info-unit {
    color: #666;
    margin-bottom: 20px;
}

body {
    background-color: lightslategray;
    font-family: sans-serif, Microsoft Yahei, Helvetica Neue;
    zoom: 100%;

}

p {
    line-height: 1.5;
}

.progress-list {
    line-height: 2;
    progress {
        background-color: #f6f6f6;
        display: inline;
        /*width: 195px;*/
        height: 1em;
    }

    progress::-webkit-progress-bar {
        background-color: #e0eaf0;
    }

    progress::-webkit-progress-value {
        background-color: #708d9b;
    }

    progress::-moz-progress-bar {
        background-color: #e0eaf0;
    }
}

.me {
    text-align: center;
    margin-bottom: 20px;
}

.code.info-unit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divider {
    width: 100%;
    margin: 0 0 20px 0;
}

.qrCode-info {
    display: flex;
    flex-direction: row;
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
    margin-top: 20px;
    width: 100%; /* 确保容器宽度占满父元素 */
}

.qrCode-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* 为每个联系项添加左右间距 */
}

.qrCode .vx {
    width: 100px;
    height: 100px;
}

.qrCode-item.qrCode {
    position: absolute; /* 使二维码容器绝对定位 */
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.qrCode-item.qrCode.qrCode_1 {
    top: 100px;
    right: 20px;
}

.qrCode-item.qrCode.qrCode_2 {
    top: 80px;
    right: 20px;
}
.qrCode-item.qrCode.qrCode_3 {
    top: 20px;
    right: 20px;
}

.left-label {
    display: inline-block;
    width: 120px;
}

.portrait {
    margin: 20px auto 10px;
    background-image: url('https://wx.qlogo.cn/mmhead/VzQsdzsGScPiawNoaA5Q9cCpYibicH36FEhzcF2DiaXdciaamsFddYoeBaZZ5Km3F2Yx3G9icx5ia2HNlU/0');
    background-size: 100%;
    background-position: 3px 18px;
    border-radius: 50%;
    border: 5px solid #607d8b;
    width: 200px;
    height: 200px;
}


.container {
    position: relative;
    margin: 5px auto;
    width: 1050px;
    height: 1750px;
    background-color: white;

}

.side {
    position: absolute;
    width: 360px;
    height: 100%;
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    position: relative;;
    margin-left: 360px;
    min-height: 100%;
    padding: 20px;

}

ul li {
    position: relative;
}

a:link, a:visited {
    color: black;
    text-decoration: underline;
}

a:hover, a:active {
    color: black;
    text-decoration: none;
}

